#01 {
    background-color: rgb(180, 172, 172); 
}

#LS {
    color: crimson;
    font-size: larger;
}

#Si {
    color: crimson;
    font-size: larger;
}

#Lu {
    color: crimson;
    font-size: larger;
}